body {
  padding: 0;
  margin: 0;
  background: #0A2A4A;
  /* background: #F5F5F5; */
  /* background: #2E2E2E; */
  /* color: #D3D3D3;
  color: #333333; */
  color: #A6E3E9;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

section {
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #A6E3E9;
}

/* -----------------------header--------------------------- */

header {
  display: flex;
  /* overflow: hidden; */
}

header h1 {
  margin-top: 56px;
  position: fixed;
  color: var(--text-color);
  margin-left: 100px;
  text-decoration: underline;
  text-decoration-color: var(--text-color);
  text-decoration-style: solid;
  display: inline-block;
}


.menu {
  display: none;
  position: absolute;
  margin: 38px 22px;
  height: 55px;
  width: 55px;
}

.menu img {
  width: 100%;
  height: 100%;
  filter: invert(1);
}

/* ---------------translations-------------------------------------------------------- */
.lan1 {
  position: fixed;
  margin: 60px 1332px;
}

.select-container {
  position: relative;
  display: inline-block;
}

.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  cursor: pointer;
  position: relative;
}

.svg-container::before {
  content: '';
  display: inline-block;
  width: 37px;
  height: 37px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23A6E3E9"><path d="M21.05566,12h-2a1,1,0,0,0,0,2v2H17.8714a2.96481,2.96481,0,0,0,.18426-1A2.99955,2.99955,0,0,0,12.458,13.50049a.99992.99992,0,1,0,1.73242.999A1.0009,1.0009,0,0,1,15.05566,14a1,1,0,0,1,0,2,1,1,0,0,0,0,2,1,1,0,1,1,0,2,1.0009,1.0009,0,0,1-.86523-.49951.99992.99992,0,1,0-1.73242.999A2.99955,2.99955,0,0,0,18.05566,19a2.96481,2.96481,0,0,0-.18426-1h1.18426v3a1,1,0,0,0,2,0V14a1,1,0,1,0,0-2ZM9.08594,11.24268a.99963.99963,0,1,0,1.93945-.48536L9.26855,3.72754a2.28044,2.28044,0,0,0-4.4248,0L3.08594,10.75732a.99963.99963,0,1,0,1.93945.48536L5.58618,9H8.52545ZM6.0863,7l.6969-2.78711a.29222.29222,0,0,1,.5459,0L8.02563,7Zm7.96936,0h1a1.001,1.001,0,0,1,1,1V9a1,1,0,0,0,2,0V8a3.00328,3.00328,0,0,0-3-3h-1a1,1,0,0,0,0,2Zm-4,9h-1a1.001,1.001,0,0,1-1-1V14a1,1,0,0,0-2,0v1a3.00328,3.00328,0,0,0,3,3h1a1,1,0,0,0,0-2Z" fill="%23A6E3E9"/></svg>') no-repeat center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  /* transition: all 4s ease; */
}

.options div {
  background-color: #fff;
  color: #000;
  padding: 10px;
  cursor: pointer; 
}

.options div:hover {
  background-color: #e0e0e0;
}

.selected {
  /* background-color: #6563ff; */
  background: #38cbd8;
  color: #fff;
}

.svg-container.active .options {
  display: block;
  opacity: 1000;
}

.options div.selected {
  /* background-color: #6563ff; */
  background: #38cbd8;
  color: #fff;
}

/* --------------------------------navbar---------------------------------------------------- */

nav {
  margin-top: 64px;
  margin-left: 564px;
  position: fixed;
}

.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 100px;
}

.nav-item {
  position: relative;
  opacity: 0;
  display: inline-block;
  animation: topBottom 2s 1s forwards;
}

@keyframes topBottom {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.6em;
  font-weight: 500;
  position: relative;
  padding-bottom: 5px;
}

.nav-link::before {
  content: attr(data-hover);
  position: absolute;
  left: 0;
  top: 0;
  color: var(--text-color);
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
  white-space: nowrap;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: width 0.4s ease;
}

.nav-item:hover .nav-link::before {
  transform: translateY(0);
  opacity: 1;
  border-bottom: 1px solid var(--text-color);
}

.nav-item:hover .nav-link::after {
  width: 100%;
}

.nav-item:hover .nav-link {
  color: transparent;
}

/* --------------line----------------------------------- */
.line {
  border-top: 2px solid whitesmoke;
  width: 87.5%;
  position: absolute;
  margin: 130px 98px;
}

/* --------------------------Home ------------------------------------ */

.hero {
  padding-top: 130px;
  padding-left: 100px;
  padding-bottom: 175px;
}


.background-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="100%" height="100%" fill="none"%3E%3Cpath d="M10 10 L30 10 L20 30 Z M30 30 L50 10 L70 30 L50 50 Z M70 70 L50 50 L30 70 Z M90 30 L70 50 L90 70 L110 50 Z" stroke="%23e0e0e0" stroke-width="0.5" fill="%23f5f5f5" opacity="0.3"%3E%3C/path%3E%3C/svg%3E') repeat;
  z-index: -1;
  pointer-events: none;
}

.hero-text {
  letter-spacing: -.04em;
  font-size: 95px;
  width: 85%;
  color: var(--text-color);
  line-height: 1.3em;
}

.hero-text {
  opacity: 0;
  position: relative;
  /* display: inline-block; */
  /* animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: leftRight;
  animation-delay: 6s; */
  animation: leftRight 2s 1.5s forwards;
}

.contact-btn {
  color: var(--text-color);
  text-decoration: none;
  margin-top: 5px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
  /* border: 1px solid #1c2027; */
  border: 1px solid #fff;
  padding: 13px 19px;
  box-shadow: 6px 6px 0 0 #424953;
  transition: transform .2s, box-shadow .2s;
  opacity: 0;
  position: relative;
  animation: leftRight 2s 1.5s forwards;
}

@keyframes leftRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.contact-btn:hover {
  box-shadow: 8px 8px 0 0 #424953;
}

/* -------------------------------Work------------------------- */

.work {
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 75px;
}

.work-title {
  letter-spacing: -.017em;
  margin-bottom: 70px;
  font-size: 38px;
}

.work1,
.work2 {
  display: inline-block;
  height: 444px;
  width: 44%;
  border-bottom: 1px solid whitesmoke;
  text-decoration: none;

}

.work-image {
  object-fit: cover;
  width: 625px;
}

.work-image img {
  max-width: 100%;
  display: inline-block;
}

.work2 {
  margin-left: 700px;
  margin-top: -110px;
}

.work-text {
  max-width: 40ch;
  margin-top: 8px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  /* color: #1c2027; */
  color: var(--text-color);
  ;
  line-height: 1.3em;
}

.work p {
  font-variation-settings: "wght" 301;
  letter-spacing: 0;
  max-width: 60ch;
  margin-bottom: 10px;
  font-family: PP Mori, sans-serif;
  font-size: 16px;
  line-height: 0.1;
  /* color: #171b20; */
  color: var(--text-color);
  ;
}

/* --------------------------Story-------------------- */

.story {
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 145px;
}

.story-title {
  margin-bottom: 39px;
  letter-spacing: -.017em;
  font-size: 38px;
}

.story form {
  margin: 0 auto;
  font-size: 2.6em;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
  display: inline;
  line-height: 2.3;
}

.story input,
.story select {
  font-size: 0.7em;
  border: none;
  background: transparent;
  color: var(--text-color);
  border-bottom: 1px solid #fff;
  width: 20%;
  padding: 10px;
  margin: 10px 0;
}

.story input::placeholder {
  color: var(--text-color);
  opacity: 0.6;
  border: none;
}

.story input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
}

.story select:hover,
.story select:focus {
  border-bottom: 1px solid #fff;
}

.story option {
  color: #111;
}

.story-btn {
  font-size: 0.9em;
  cursor: pointer;
  line-height: 2.5;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  color: var(--text-color);
  display: inline-block;
  position: relative;
  padding-right: 21px;
  transition: opacity 0.6s;
}

.story-btn span {
  display: inline-block;
  transition: all 0.6s;
}

.story-btn:hover span {
  transform: translateX(10px);
}

.story-btn:hover {
  opacity: 70%;
}

.circle-cursor {
  position: absolute;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: rgba(214, 140, 79, 0.663);
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 100;
  transition: width 0.6s, height 0.6s, ease-out;
}

.story form:hover .circle-cursor {
  width: 190px;
  height: 190px;
}

.foot {
  color: #fff;
  color: #333333;
  backface-visibility: visible;
  padding-top: 51px;
}

footer {
  width: 94%;
  height: 570px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 47px;
  background-color: #E6E6FA;
  font-family: Arial, sans-serif;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company-name {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin-top: 0px;
  margin-bottom: 296px;
}

.company-name h4 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 0;
}

.company-name p {
  margin: 0;
  padding: 0;
}

.company-name span {
  display: inline-block;
  font-size: 1.6em;
  color: transparent;
  transform: translateY(100%);
  transition: transform 0.5s ease;
  position: relative;
}

.company-name h3 {
  font-size: 1.3em;
}

.company-name:hover span {
  transform: translateY(0);
  color: #333333;
}

.headings {
  position: absolute;
  margin: 150px 600px;
  font-size: 1.6em;
}

.headings ul {
  list-style: none;
  text-decoration: none;
  text-align: start;
}

.headings ul li {
  margin: 25px 0;
}

.headings ul li a {
  text-decoration: none;
  color: #333333;
}

.headings ul li img {
  height: 30px;
  width: 30px;
  opacity: 72%;
  position: absolute;
  margin: -2px -40px;
}

.headings ul li a:hover {
  opacity: 82%;
}

.social-links {
  margin-bottom: 20px;
  display: flex;
  font-size: 1.3em;
}

.social-links a {
  width: 40px;
  height: 40px;
  text-decoration: none;
  margin-right: 15px;
  transition: all 0.6s ease;
}

.social-links a img {
  width: 100%;
  height: auto;
  opacity: 72%;
  /* filter: invert(); */
}

.social-links a:hover {
  /* outline: double; */
  /* outline-color: dodgerblue; */
  transform: rotate(-38deg);
}

.email {
  font-size: 1.15em;
  margin-left: 348px;
}

.reserved-rights {
  font-size: 1.4em;
  margin-top: 98px;
}

.footer-right {
  max-width: 410px;
  width: 100%;
}

.footer-right h3 {
  font-size: 1.6em;
}

.footer-right form {
  display: flex;
  flex-direction: column;
}

.footer-right input,
.footer-right textarea {
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #3f3a3a;
  padding: 10px;
  color: #1c1a1a;
  background: none;
  font-size: 1.2em;
  opacity: 100;
  resize: none;
}

.footer-right textarea {
  font-size: 1.5em;
  height: 106px;
}

.footer-right input::placeholder,
textarea::placeholder {
  opacity: 0.9;
}

.footer-right input:hover,
textarea:hover {
  border: none;
  border-bottom: 1px solid #3f3a3a;
}

.footer-right button {
  padding: 10px;
  margin: 15px 0px;
  width: 65px;
  font-size: 1.2em;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-right button:hover {
  background-color: #2980b9;
}

/* ---------------------------------about------------------ */

.about {
  padding-top: 137px;
  padding-left: 100px;
}

.about-title h2 {
  font-size: 48px;
  width: 88%;
  opacity: 0;
  position: relative;
  animation: leftRight 1s forwards 0.2s;
}

.about-title p {
  font-size: 1.7em;
  width: 88%;
  opacity: 0;
  position: relative;
  animation: leftRight 1.5s forwards 0.2s;
}

.about-content {
  display: flex;
  justify-content: space-between;
  padding: 12px 0px;
  position: relative;
  animation: wave 1.5s;
}

@keyframes wave {

  0%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(10px);
  }

  75% {
    transform: translateY(-10px);
  }
}


.about-content .about-parg {
  width: 60%;
}

.about-parg h2 {
  font-size: 27px;
}

.about-parg p {
  font-size: 1.4em;
}

.about-parg ul {
  font-size: 1.3em;
}

.about-parg ul li {
  margin-top: 10px;
}

.about-content img {
  width: 35%;
  margin-top: -113px;
  margin-right: 35px;
  border-radius: 24px;
  height: auto;
  animation: flip 2s forwards;
}

@keyframes flip {
  0% {
    transform: rotateY(0);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.call-to-action {
  margin-top: 112px;
  text-align: center;
  padding: 20px;
  background: #eee;
}

.call-to-action h2 {
  margin: 0;
  font-size: 2.5em;
  position: relative;
  animation: leftRight 1s forwards 0.2s;
}

.call-to-action p {
  font-size: 1.6em;
  color: #555;
  position: relative;
  animation: leftRight 1s forwards 0.2s;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background: #333;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.6em;
  animation: flip 2s forwards;
}

.cta-button:hover {
  background: #555;
  opacity: 85%;
}

/* --------------------------------------------------services----------------------------------- */

.sec {
  padding-top: 130px;
  padding-left: 100px;
}

.sec-title {
  /* background: #f4f4f4; */
  text-align: left;
  width: 80%;
  padding: 50px 0px;
  position: relative;
  animation: leftRight 1s forwards 0.2s;
}

.sec-title h1 {
  margin: 0;
  font-size: 2.7em;
  position: relative;
  animation: leftRight 1s forwards 0.2s;
}

.sec-title p {
  font-size: 1.8em;
  color: #ececec;
}

.services {
  text-align: center;
}

.services h2 {
  font-size: 2.4em;
  text-decoration: underline;
  text-decoration-color: #fff;
}

.services-box {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  /* background: #fff; */
  flex-wrap: wrap;
}

.service-card {
  background-color: #222121;
  border-radius: 10px;
  box-shadow: 0 13px 10px rgb(255 255 255 / 10%);
  padding: 20px;
  margin: 10px;
  width: 30%;
  text-align: center;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-card h3 {
  font-size: 1.8em;
  padding: 0;
  margin: 14px;
  margin-bottom: 15px;
}

.service-card p {
  color: #b2a8a8;
  font-size: 1.3em;
}


.pricing {
  padding: 20px;
  /* background: #f9f9f9; */
  text-align: center;
}

.pricing h2 {
  font-size: 2.7em;
  margin-bottom: 20px;
}

.pricing form {
  padding: 25px 35px;
  background: #474646;
  box-shadow: 0 13px 10px rgb(177 165 165 / 10%);
  width: 80%;
  font-size: 2.2em;
}

.checkbox-group {
  margin-bottom: 10px;
  text-align: left;
}

.checkbox-group label {
  margin-left: 10px;
  font-size: 1em;
}

.pricing input[type="checkbox"] {
  transform: scale(1.5);
  /* Adjust the scale as needed */
  margin-right: 10px;
  /* Optional: adds spacing between checkbox and label */
  margin-left: 10px;
}

#websiteOptions {
  padding: 10px 0px;
  padding-left: 75px;
}

#logoOptions,
#dataManagementOptions {
  text-align: left;
  padding: 10px 0px;
  padding-bottom: 15px;
  padding-left: 75px;
}

#logoOptions p,
#dataManagementOptions p {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.hidden {
  display: none;
}

.total-price {
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}


/* -----------------Responvie----------------------- */

@media (max-width: 1370px) {
  nav {
    margin-left: 593px;
  }
}

@media (max-width: 1200px) {
  html {
    width: 100%;
  }

  footer {
    width: 100%;
  }

  .line {
    width: 97.5%;
  }
}

@media (max-width: 391px) {
  html {
    font-size: 55%;
    width: 100%;
  }

  .menu {
    display: block;
  }

  header h1 {
    margin-top: 40px;
    margin-left: 112px;
    font-size: 4.8em;
    position: absolute;
  }

  .lan1 {
    margin: 48px 300px;
    position: absolute;
  }

  .svg-container {
    width: 75px;
  }

  .options {
    font-size: 1.4em;
    width: 82%;
  }

  nav {
    position: absolute;
    padding: 60px 71px;
    align-content: center;
    margin: 135px 0px;
    left: -280px;
    background: #222121;
    z-index: 1000;
    transition: left 0.6s ease;
  }

  .navbar {
    flex-direction: column;
    gap: 65px;
  }

  .nav-link {
    font-size: 3.6em;
  }

  nav.active {
    left: 0;
  }

  .line {
    width: 100%;
    margin: 130px 0px;
  }

  .hero {
    padding-top: 130px;
    padding-left: 40px;
  }

  .hero-text {
    font-size: 55px;
    padding-top: 58px;
  }

  .contact-btn {
    font-size: 2.8em;
  }

  .work {
    padding: 40px 30px;
  }

  .work1,
  .work2 {
    width: 100%;
    height: 270px;
  }

  .work-image {
    width: 100%;
    height: auto;
  }

  .work2 {
    margin-top: 30px;
    margin-left: 0;
  }

  .work-text h3 {
    font-size: 3.5em;
  }

  .work-text p {
    font-size: 2.5em;
  }

  .story {
    padding: 40px 30px;
  }

  .story-title {
    font-size: 55px;
  }

  .story form {
    font-size: 2.6em;
  }

  .story input,
  .story select {
    width: 50%;
  }

  #bus-type {
    width: 42%;
  }

  .story-btn {
    font-size: 1.4em;
    line-height: 3.5;
  }

  footer {
    flex-direction: column;
    height: 982px;
    width: 76%;
  }

  footer .company-name {
    margin-bottom: 0px;
  }

  footer .company-name span {
    font-size: 2.6em;
  }

  footer .company-name h4 {
    font-size: 2.9em;
  }

  footer .company-name p {
    font-size: 1.7em;
  }

  footer .headings {
    margin: 32px 20px;
    position: relative;
    font-size: 2.6em;
  }

  .headings ul li img {
    height: 32px;
    width: 34px;
  }

  .social-links a {
    width: 45px;
    height: 45px;
  }

  footer .email {
    margin-top: 73px;
    margin-left: -240px;
    font-size: 1.6em;
  }

  .footer-right h3 {
    font-size: 2.9em;
  }

  .footer-right form input {
    font-size: 2.2em;
    width: 95%;
  }

  .footer-right form textarea {
    font-size: 2.7em;
    width: 95%;
  }

  .footer-right form button {
    padding: 10px;
    margin: 15px 0px;
    width: 95px;
    font-size: 2.4em;
  }

  .reserved-rights {
    font-size: 2em;
    margin-top: 25px;
    margin-left: -20px;
  }

  .about {
    padding-left: 35px;
  }

  .about-title p {
    font-size: 2.8em;
  }

  .about-content {
    flex-direction: column;
  }

  .about-content .about-parg {
    width: 95%;
  }

  .about-parg h2 {
    font-size: 42px;
  }

  .about-parg p {
    font-size: 1.9em;
  }

  .about-content img {
    width: 95%;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .about-parg ul {
    font-size: 2.3em;
    line-height: 1.3;
  }

  .call-to-action h2 {
    font-size: 3.5em;
  }

  .call-to-action p {
    font-size: 2.6em;
  }

  .cta-button {
    font-size: 2.6em;
  }

  .sec {
    padding: 0px 20px;
    width: 90%;
    padding-top: 130px;
  }

  .sec-title h1 {
    font-size: 3.8em;
  }

  .sec-title p {
    font-size: 2.8em;
  }

  .services {
    width: 100%;
  }

  .services h2 {
    font-size: 3.4em;
  }

  .services-box {
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .service-card {
    width: 89%;
    margin: 15px 0px;
  }

  .service-card h3 {
    font-size: 2.8em;
  }

  .service-card p {
    font-size: 2.3em;
  }

  .pricing {
    padding: 0px;
    font-size: 1.7em;
  }

  .pricing input[type="checkbox"] {
    margin: 0;
  }

  .pricing form {
    width: 91%;
    font-size: 2.1em;
    padding: 15px;
  }

  #websiteOptions {
    font-size: 0.7em;
    padding: 10px;
    padding-left: 35px;
  }

  .checkbox-group label {
    margin-left: 10px;
    font-size: 1.1em;
  }

  #logoOptions,
  #dataManagementOptions {
    padding: 10px;
    padding-left: 35px;
  }

  .form p {
    font-size: 0.7em;
  }
}